# Python Basics Class 2

Name: Amol Grover
Phone Number: 9811439648

## Loops
The first statement in a code block is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times. A loop executes a block of statement until the condition is true. As soon as the condition becomes false the loop stops. Type of loops in python:
1. while
2. for

### While Loop Syntax
```
while condition:
    execute statement```

In [1]:
count = 0

In [2]:
while count < 3:
    count = count + 1
    # execute these statement until count is 3
    print("Hello Class!")

Hello Class!
Hello Class!
Hello Class!

### For Loop Syntax
```
for i in range(start index, end index, step):
    execute statements```

In [3]:
# range creates an iterable(think of it as a list of numbers)
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [4]:
for i in range(1,9,2):
    print(i)

1
3
5
7

In [5]:
# i goes from 0 to 10
for i in range(0, 11):
    if i >= 5:
        break
    
    if i % 2 == 0:
        print(i)
    else:
        continue

0
2
4

In [8]:
# count number of even numbers between 0 and 10(inclusive)
even = 0

for i in range(0, 11):
    if i % 2 == 0:
        even += 1
        print(i)
    else:
        # skip to next iteration
        continue
        
print(f"Even numbers between 0 and 10(inclusive) are {even}")

0
2
4
6
8
10
Even numbers between 0 and 10(inclusive) are 6

## List
Collection of different data-types. The first index is zero, the second index is one, and so forth. Index value is the identity of every element.
1. Creation
2. Modification
3. Indexing/Slicing
4. Deleting

### Slicing Syntax
```list[start:end]``` returns a list starting from start index upto the index (end-1)

In [9]:
my_list = [1, 4.2, "string", 3, 4, 5]

In [10]:
my_list[2]

'string'

In [17]:
# from the start uptil the 3rd last element
my_list[:-2]

[1, 4.2, 'string', 3]

In [12]:
# from the 3rd element from the end to the last element
my_list[-3:]

[3, 4, 5]

In [14]:
# 2nd index from the end
my_list[-2]

4

In [18]:
# from the 1st index to the 3rd index
my_list[1:4]

[4.2, 'string', 3]

In [19]:
print(my_list)
my_list[1] = 5.2
print(my_list)

[1, 4.2, 'string', 3, 4, 5]
[1, 5.2, 'string', 3, 4, 5]

In [21]:
del my_list[0]

In [22]:
print(my_list)

[5.2, 'string', 3, 4, 5]

### Operations
1. length
2. concatenation
3. repetition
4. iteration

In [24]:
my_list

[5.2, 'string', 3, 4, 5]

In [25]:
x = len(my_list)
print(x)

5

In [26]:
# repetition
['string', 1] * 4

['string', 1, 'string', 1, 'string', 1, 'string', 1]

In [27]:
list2 = ['string1', 1, 9, 0]
list3 = list2 + my_list
print(list3)

['string1', 1, 9, 0, 5.2, 'string', 3, 4, 5]

Try ```list3 = my_list + list2```

In [28]:
print(my_list)

[5.2, 'string', 3, 4, 5]

Printing elements of a list

In [30]:
for x in my_list:
    print(x)

5.2
string
3
4
5

In [29]:
for i in range(len(my_list)):
    print(my_list[i])

5.2
string
3
4
5

Multiply every element in the array by 2 and update the element value

In [32]:
num_list = [1,2,3,4,5]

for i in range(len(num_list)):
    num_list[i] = num_list[i] * 2

In [33]:
num_list

[2, 4, 6, 8, 10]

### List functions
1. max
2. min
3. sorted

In [34]:
num_list_2 = [4, 3, 5, 1]
sorted(num_list_2, reverse=True)

[5, 4, 3, 1]

In [35]:
max(num_list_2)

5

## Tuples
The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [36]:
my_tuple = (2,2,3,'string')

In [37]:
for x in my_tuple:
    print(x)

2
2
3
string

Try lists operation on tuples

## Strings

In [39]:
name = "Amol"
# equivalent to name = ['A','m','o','l'](think of it like this but its not exactly)

In [40]:
name[1:3]

'mo'

In [41]:
for x in name:
    print(x)

A
m
o
l

In [42]:
string1 = "Amol"
string2 = "Grover"

name = string1 + " " + string2
print(name)

Amol Grover

In [43]:
len(name)

11

In [44]:
string = "A very long sentence#with#multiple spaces"
list_string = string.split('#')
print(list_string)

['A very long sentence', 'with', 'multiple spaces']

In [45]:
string = "A very long sentence with multiple spaces"
list_string = string.split(' ')
print(list_string)

['A', 'very', 'long', 'sentence', 'with', 'multiple', 'spaces']

## Dictionary
A dictionary contains a key value pair where every value is accessed by its corresponding key. Since values are accessed by keys therefore keys must be unique in a dictionary. Keys are the identity.

In [49]:
my_dict = {'name': 'Amol', 'age' : 19, 'year': 2}

In [50]:
my_dict['name']

'Amol'

In [51]:
my_dict['age']

19

In [52]:
new_dict = {'a': 1, 'b': 2, 'fruit': 'mango', 'key' : 4.2, '2': 4}

In [53]:
len(new_dict)

5

### Iterating through dictionary

Way #1: Accessing keys and values simultaneously

In [56]:
new_dict.items()

dict_items([('a', 1), ('b', 2), ('fruit', 'mango'), ('key', 4.2), ('2', 4)])

In [57]:
for key, value in new_dict.items():
    print(key, value)

a 1
b 2
fruit mango
key 4.2
2 4

Way #2: Access elements using keys

In [58]:
new_dict.keys()

dict_keys(['a', 'b', 'fruit', 'key', '2'])

In [59]:
for i in new_dict.keys():
    print(new_dict[i])

1
2
mango
4.2
4

# Assignment question:
Find the frequency of each word in the following paragraph.

```
In computer software and media, an Easter egg is an intentional inside joke, hidden message or image, or secret feature of a work. It is usually found in a computer program, video game, or DVD/Blu-ray Disc menu screen. The name is used to evoke the idea of a traditional Easter egg hunt. The term was coined to describe a hidden message in the Atari video game Adventure that encouraged the player to find further hidden messages in later games, leading them on a 'hunt'. The use of the term "Easter egg" to describe secret features originates from the 1979 video game Adventure for the Atari 2600 game console, programmed by employee Warren Robinett. At the time, Atari did not include programmers' names in the game credits, fearing that competitors would attempt to steal their employees. Robinett, who disagreed with his supervisor over this lack of acknowledgment, secretly inserted the message "Created by Warren Robinett". This message would only appear if a player moved his/her avatar over a specific pixel (the "Gray Dot") during a certain part of the game. When Robinett left Atari, he did not inform the company of the acknowledgment that he included in the game. Shortly after his departure, the Gray Dot and his message were exposed by a player who told Atari about his discovery. Atari's management initially wanted to remove the message and release the game again, but this was deemed too costly an effort. Instead, Steve Wright, the Director of Software Development in the Atari Consumer Division, suggested that they keep the message and, in fact, encourage the inclusion of such messages in future games, describing them as Easter eggs for consumers to find. The Debian operating system's package tool apt-get has an Easter egg involving an ASCII cow when variants on apt-get moo are typed into the shell. An Easter egg is found on all Microsoft Windows operating systems before XP. In the 3D Text screen saver, entering the text "volcano" would display the names of all the volcanoes in the United States. Microsoft removed this Easter egg in XP but added others. Microsoft Excel 95 contained a hidden action game similar to Doom (1993) called The Hall of Tortured Souls. The Google search engine famously contains many Easter eggs, given to the user in response to certain search queries. For example, Google Maps once responded to a request for directions from New York City to Tokyo by telling the user to kayak across the Pacific Ocean. Steve Jobs banned Easter eggs from Apple products upon his return to the company.
```

Hint: You would need to remove punctuations and convert every word to lowercase